*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
}

.nav{
    height: 60px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    border-bottom: 2px solid #FF735C;    
}

.nav h2{
    
    font-size: 2.5vw;
    font-weight: 700;
    color: #FF735C
    
}
.menu{
    display: flex;
    gap: 3vw;
    align-items: center;
}

.menu h4{
    font-size: 1.3vw;
    font-weight: 500;
    color: #FF735C;
}
.nav i{
    font-size: 1.5vw;
    font-weight: 800;
    display: none;
}

.content{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    /* background-color:lightcyan; */
}

.left{
height: 100%;
width: 55%;
/* background-color: blueviolet; */
padding: 5vw 8vw;
}
.left h1{
    font-size: 4.2vw;
    line-height: 4vw;
}
.left h1 span{
color: #FF735C;
}

.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 4vw;
}
button{
    font-size: 1.2vw;
    padding: 0.5vw 1.2vw;
    background-color: #FF735C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.right img{
    height: 100%;
    width: 100%;
    
}









.right{
width: 45%;
height: 100%;
/* background-color: aquamarine; */

}































@media (max-width : 600px) {
    .nav{
        /* background-color: blueviolet; */
         color: azure; 
        padding: 0 5vw;
        height: 60px;
    }
    .nav h2{
        font-size:6vw ;}

        .nav h4{
            font-size: 4vw;
            display: none;
        }
        .nav button{
            display: none;
        }

        .nav i{
            display: block;
            font-size: 4vw;
            font-weight: 600;
            color: #FF735C;
        }

        .content{
            /* height: 600px; */
            flex-direction: column;
        }
        .left{
        width: 100%;
        /* height: %; */
        padding: 4vw 6vw;
        }
        .right{
            width: 100%;

        }
        .left h1{
            font-size: 10vw;
            line-height: 12vw;
        }

        .left p{
            font-size: 4vw;
            width: 90%;
            margin-top: 5vw;
            margin-bottom: 6vw;
        }
        button{
            padding: 3vw 6vw;
            font-size: 5vw;
            border-radius: 5px;
            font-weight: 700;
        }
    }     
